<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册LAU</title>


    
    <link rel="stylesheet" href="/Sys/css/layui.css">
    <link rel="stylesheet" href="/Sys/css/sign.css">
    
    <link rel="stylesheet" href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
     <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Sys/css/font.css">
	<link rel="stylesheet" href="/Sys/css/xadmin.css">
	<link rel="stylesheet" href="/Sys/css/formSelects-v4.css" />
<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
    <script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
        <script src="/Sys/js/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>

</head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎：<span
					th:text="${session.name}"></span><img
					th:src="@{/uploads/{filename}(filename=${session.photo})}"
					th:if="${session.account!='admin'}" /> <img
					th:src="@{/Sys/images/my1.png}" th:if="${session.account=='admin'}" />
          当前日期:[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}]]</blockquote>
       南昌大学共青学院 编辑 讨论
        南昌大学共青学院，位于江西省九江市共青城市南昌大学鄱阳湖校区，办学始于1985年，原名为“江西大学共青职业学院”由江西大学（现南昌大学）和共青城开放开发区（现共青城市人民政府）共同组建，主管部门为省部级以上政府、机关 [1]  ，时任中共中央总书记胡耀邦同志亲自为学院题写院名 [1]  。
        1991年，学院更名为“江西大学共青学院”。1993年，原江西大学和江西工业大学合并成立南昌大学，学院遂更名为南昌大学共青学院。2002年，由南昌大学、共青城市人民政府与江西昌振实业有限公司三方合作办学 [1]  ，经江西省教育厅、江西省发展计划委员会批准成为一所本科综合独立学院。2021年四川希望教育产业集团有限公司入驻学院 [8]  ，大力改善基础办学条件，学院步入快速发展阶段，同时对学院“十四五”教育事业发展规划进行顶层设计，学院发展的宏伟蓝图徐徐展开。
        现设有信息工程系、工程技术系、经济贸易系、工商管理系、外国语言文学系、艺术与设计系、中文与教育系7个系和公共课教学部、实验中心共9个教学单位，下设34个教研室，开设有21个本科专业 [8]  及20个专科专业 [1]  。有1个科研机构艺术与设计研究所。占地面积 1041亩， 现有在校生1万余人 。
    </body>
</html>